.header {
  padding: 3vh 20vw;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #EBEBEB;
  align-items: center;
  background: #FFF;
  transition: all 0.2s ease-in-out;
  top: -40px
}


@media (min-height: 300px) {
  .fixheader {
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    border-bottom: 1px solid #ebebeb;
  }
}


@media only screen and (max-width: 1400px) {
  .header {
    padding: 3vh 3vw;
  }
}



.mobile {
  display: none !important;
}


@media only screen and (max-width: 600px) {
  .mobile {
    display: unset !important;
  }

  .desktop {
    display: none !important;
  }
}

.brand {
  display: inline-flex;
}

.brand span {
  color: #203656;
  font-weight: 800;
  margin-right: 15px;
  margin-top: 10px;
}


.navItems {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

.navList {
  flex-direction: row;
  display: flex;
  padding-right: 0;
  list-style: none;
  font-size: 14px;
}

.navListItem {
  display: list-item;
  text-align: -webkit-match-parent;
  font-size: 14px;
}

/* .navListItem a {} */

.navLink {
  padding: 0.439rem 1rem;
  color: #404855;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-family: Vazirmatn;
  font-weight: 400;
}

.navLink:hover {
  color: #000;
  font-weight: 500;
}

.active {
  color: #203656;
  border-radius: 25px;
  background: #4ffe9e;
  background: -webkit-linear-gradient(right, #4ffe9e 0%, #87ffe5 100%);
  background: linear-gradient(to left, #4ffe9e 0%, #87ffe5 100%);
}

.icon_btn {
  color: #FFF;
  border: 0;
  border-radius: 50%;
  background: #87ffe5;
  background: -webkit-linear-gradient(bottom, #87ffe5 0%, #4ffe9e 51%, #87ffe5 100%);
  background: linear-gradient(to top, #87ffe5 0%, #4ffe9e 51%, #87ffe5 100%);
  background-size: auto 200%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  line-height: 39px;
  text-align: center;
  vertical-align: middle;
  width: 37px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.icon_btn:hover {
  background-position: bottom center;
}

.navBtns button {
  margin-right: 10px;
}