@config "../tailwind.config.js";
@import 'tailwindcss';

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazir/vazirmatn.ttf') format('woff2 supports variations'),
    url('/fonts/vazir/vazirmatn.ttf') format('woff2-variations');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  direction: rtl;
}

body {
  font-family: Vazirmatn;
}

@theme {
  /* --color-primary: #0d986a;
  --color-secondary: #435b71;
  --color-primary-light: #97ba86;
  --color-primary-lighter: #dce8d6; */
  /* background: #516746; */

  --breakpoint-xs: 20rem; /* 320px */
  --breakpoint-xxs: 16rem; /* 256px */
}

/* @layer components {
  .container {
    @apply sm:max-w-[38rem] md:max-w-[46rem] lg:max-w-[62rem] xl:max-w-[78rem] 2xl:max-w-[94rem];
  }
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@source inline("{hover:,}text-{red,green,gray}-{50,{100..900..100},950}");
/* @source inline("{hover:,}text-{red,green,gray}-600"); */
@source inline("{hover:,}bg-{red,green,gray}-{50,{100..900..100},950}");
/* @source inline("{hover:,}border-{red,green,gray}-{50,{100..900..100},950}}"); */
