.newpost {
    margin: 30px;
}

.post {
    display: flex;
}

.editor {
    width: 85%;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 0 15px;
    min-height: 500px;
}

.settings {
    width: 15%;
}

.title {
    margin: 20px 0;
    border: none;
    outline: 0;
    font-size: 25px;
    font-weight: 500;
    width: 100%;
}